.header {
  width: 100%;
  background-color: rgb(75, 9, 75);
  height: 10vh;
  color: white;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
}

.cart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  align-items: baseline;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

.cart div {
  background-color: rgb(136, 41, 136);
  width: 25%;
  height: 4vh;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  text-align: center;
}

.product {
  width: 90%;
  border: 2px gray solid;
  margin: 2rem auto;
}

.product img {
  width: 40%;
  margin-left: 3rem;
}

.product button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: rebeccapurple;
  color: white;
}
